@media only screen and (min-width: 1921px) {
    /* HEADER */
   
    .btn-icon{
        position: relative;
       margin-left: 15px;
    }
    .box-btn-icon{
        border: none;
        background-color: transparent;
        font-family: 'font-nome';
        font-size: 55px;
        font-weight: bold;
        position: relative;
        top: 15px;
    }
    .box-options{
        position: relative;
        top: 40px;
        margin-left: 30%;
    }
    .btn-options{
        position: relative;
        top: 15px;
        font-weight: bold;
        font-size: 25px;
        font-family: 'font-txt';
        border: none;
        background-color: transparent;
    }
    .box-tel-contato{
        position: relative;
        top: 5px;
        left: 10px;
       }
       .box-contato{
        position: relative;
        left: 20%;
        font-weight: bold;
        height: 40px;
        width: 20%;
        top: 30px;
    }
       .img-contato{
        height: 20px;
       }
       .box-tel-contato p {
           width: 190px;
           font-size: 23px;
           font-family: 'font-txt';
           margin-left: 10px;
       }
 
 
 
 
 
 
       /* SLIDE */
 
 
       swiper-container {
         width: 100%;
         height: 700px;
         margin-top: 70px;
       }
       
       swiper-slide {
         height: 700px;
         width: 700px;
         line-height: 300px;
         text-align: center;
       }
       .img-slide{
         width: 700px;
         height: 700px;
       }
 
 
 
    
    
       /*OPTIONS*/
    
       .overlay{
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: 720px;
        z-index: 5;
        background-color: rgb(000, 000, 000, 9 );
      }
      .msg-serviço{
        color: red;
        font-weight: bold;
        font-size: 15px;
        top: 10%;
        left: 32%;
      }
      .conteudo-options{
        position: absolute;
        width: 90%;
        height: 100%;
        overflow: hidden;
        top: 0;
       left: 5%;
      }
      .mini-options{
        position: relative;
        width: 25%;
        height: 45%;
        top: 25%;
        z-index: 8;
        box-sizing: border-box;
        border-radius: 10px;
      }
       .valor-options{
        width: 70%;
        text-align: center;
        position: relative;
        top: 25px;
        font-weight: bold;
      }
      .tittle-options{
        position: absolute;
        padding: 5px;
        top: -50px;
        width: 100%;
        text-align: center;
        z-index: 8;
        background-color: rgb(255, 255, 255, 0.8 );
        color: gray;
        font-size: 20px;
        font-weight: bold;
        border-radius: 5px;
      }
      .img-options{
        position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       z-index: 7;
       border-radius: 5px;
      }
      .box-valor-options{
        position: absolute;
        bottom: -140px;
        padding: 10px;
        width: 100%;
        height: 40%;
        z-index: 8;
        background-color: rgb(255, 255, 255, 0.8 );
        color: black;
        font-size: 18px;
        border-radius: 5px ;
      }
      .btn-valor-options{
        border: none;
        width: 30%;
    
        background-color: transparent;
      }
    .img-icon{
        height: 35px;
    }
    .span-options{
        font-size: 50px;
      }
      .img-btn-options{
        height: 65px;
      }
      .img-whats{
        height: 60px;
      }
      .valor-options{
        width: 70%;
        text-align: center;
        position: relative;
        top: 15px;
        font-weight: bold;
      }
      #next{
        z-index: 10;
        position: relative;
        top: 0;
        left: 91%;
        margin-left: 10px;
        border: none;
        background-color: transparent;
        color: white;
      }
      #prev{
        z-index: 10;
        position: relative;
        top:0;
        left: 2%;
        border: none;
        background-color: transparent;
        color: white;
      }
      #box-search{
        left: 20%;
        padding: 10px;
        position: relative;
        z-index: 10;
        bottom: 50px;
        width: 60%;
        color: aliceblue ;
       }
       #pesquisa{
         width: 700px;
         height: 35px;
       }
       .btn-search{
         border: none;
         background-color: transparent;
       }
    
       /* FOOTER */
    
       .box-icon-footer{
        position: relative;
        bottom: 10%;
        width: 300px;
        left: 50%;
    }
}